{% extends "base.html"%}
{% block title %}
All users
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="container">
   <form method="get">
      <div class="search-box">
          <input type="text" name="q" placeholder="Search..." required value="{{q}}">
          <button class="search-button" type="submit">Sök</button>
      </div>
  </form>
   <table class="table table-bordered">
      <thead class="table th">
         <tr>
            <td>Id</td>
            <td>Namn</td>
            <td>Ålder</td>
            <td>Email</td>
            <td>Användarnamn</td>
            <td>Telefonnummer</td>
         </tr>
      </thead>

      {% for user in list_of_users %}
      <tr>
         <td>{{user.id}}</td>
         <td>{{user.name}}</td>
         <td>{{user.age}} </td>
         <td>{{user.email}}</td>
         <td>{{user.username}}</td>
         <td>{{user.phone}}</td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}