{% extends "base.html"%}
{% block title %}
All users
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="container">
   <form method="get">
      <div class="search-box">
          <input type="text" name="q" placeholder="Search..." required value="{{q}}">
          <button class="search-button" type="submit">Sök</button>
      </div>
  </form>
   <table class="table table-bordered">
      <thead class="table th">
         <tr>
            <td>Id
               <a href="{{url_for('all_users', sort_order='asc', sort_column='id', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
              </a>
              <a href="{{url_for('all_users', sort_order='desc', sort_column='id', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
              </a>
            </td>
            <td>Namn

               <a href="{{url_for('all_users', sort_order='asc', sort_column='name', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
               </a>
               <a href="{{url_for('all_users',sort_order='desc', sort_column='name', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
               </a>
            </td>
            <td>Ålder
               <a href="{{url_for('all_users',sort_order='asc', sort_column='age', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
              </a>
              <a href="{{url_for('all_users', sort_order='desc', sort_column='age', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
              </a>
            </td>
            <td>Email
               <a href="{{url_for('all_users', sort_order='asc', sort_column='email', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
              </a>
              <a href="{{url_for('all_users', sort_order='desc', sort_column='email', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
              </a>
            </td>
            <td>Användarnamn
               <a href="{{url_for('all_users', sort_order='asc', sort_column='username', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
              </a>
              <a href="{{url_for('all_users', sort_order='desc', sort_column='username', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
              </a>
            </td>
            <td>Telefonnummer
               <a href="{{url_for('all_users', sort_order='asc', sort_column='phone', q = q)}}">
                  <i class='bx bxs-up-arrow'></i>
              </a>
              <a href="{{url_for('all_users', sort_order='desc', sort_column='phone', q = q)}}">
                  <i class='bx bxs-down-arrow'></i>
              </a>
            </td>
         </tr>
      </thead>

      {% for user in list_of_users %}
      <tr>
         <td>{{user.id}}</td>
         <td>{{user.name}}</td>
         <td>{{user.age}} </td>
         <td>{{user.email}}</td>
         <td>{{user.username}}</td>
         <td>{{user.phone}}</td>
      </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}